{
   {# optionally put response_address or will default to configured smtp.response_host:smtp.reponse_port
   "response_address": "",
   #}

   {# fetch required metadata from pass_through_data or from original request headers #}
   "mail_from": "{{request.pass_through_data.mail_from}}",
   "rcpt_to": "{{request.headers.From}}",

   "headers": {
     "From": "{{request.headers['Reply-To']}}",
     "To": "{{request.headers.From}}",
     "Content-Type": "text/plain; charset=utf-8",
     "MIME-Version": "1.0",
     "Subject": "{{request.pass_through_data.message_id}}",
     "X-Reference": "{{request.headers['X-Reference']}}",
     "Content-Transfer-Encoding":"7bit",
     "Connection": "close",
     "X-test-v2t_verification": "{{request.pass_through_data.x_test_v2t_verification}}",
     "X-test-v2t_referenceid": "{{request.pass_through_data.x_test_v2t_referenceid}}",
     "X-test-service": "{{request.pass_through_data.x_test_service}}",
     "X-uonecallid": "{{request.pass_through_data.x_uonecallid}}",
     "X-uonecalledid": "{{request.pass_through_data.x_uonecalledid}}",
     "Subject":  "{{request.headers.Subject}}"
   },
   "body": {
      "import": "response_body.j2",
      "encoding": "utf-8"
   }
}