azure-cognitiveservices-speech
Jinja2 == 3.1.3
aiohttp == 3.9.0
aiosmtplib
aiosmtpd
python-dateutil
tenacity
timelength
requests
certifi == 2023.7.22
pytest
pytest-csv
pytest-mock
pytest-asyncio
anyio
pytest-html
docker
PyYAML == 6.0.1
urllib3 == 2.0.7
