azure-cognitiveservices-speech
Jinja2
aiohttp == 3.9.2
aiosmtplib
aiosmtpd
python-dateutil
tenacity
timelength
requests
certifi == 2023.7.22
pytest
pytest-csv
pytest-mock
pytest-asyncio
anyio
pytest-html